{% extends 'cadastro/base.html' %}
{% block content %}

<div class="pagina">
<div class="box">

<h2>Editar Segurança</h2>

<form method="post">
{% csrf_token %}

<input type="text" name="nome_completo" value="{{ seguranca.nome_completo }}" placeholder="Nome completo" required>

<input type="text" name="rg" value="{{ seguranca.rg }}" placeholder="RG">

<input type="text" name="cpf" value="{{ seguranca.cpf }}" placeholder="CPF">

<input type="text" name="registro" value="{{ seguranca.registro }}" placeholder="Registro">

<input type="text" name="pai" value="{{ seguranca.pai }}" placeholder="Nome do pai">

<input type="text" name="mae" value="{{ seguranca.mae }}" placeholder="Nome da mãe">

<select name="naturalidade">
<option value="">Naturalidade</option>
{% for m in municipios %}
<option value="{{ m.id }}" {% if seguranca.naturalidade and m.id == seguranca.naturalidade.id %}selected{% endif %}>
{{ m.nome }}
</option>
{% endfor %}
</select>

<label>Data de nascimento</label>
<input type="date" name="data_nascimento" value="{{ seguranca.data_nascimento|date:'Y-m-d' }}">

<label>Empresa</label>
<select name="empresa_id" required>
{% for empresa in empresas %}
<option value="{{ empresa.id }}" {% if empresa.id == seguranca.empresa.id %}selected{% endif %}>
{{ empresa.razao_social }}
</option>
{% endfor %}
</select>

<label>Data de admissão</label>
<input type="date" name="data_admissao" value="{{ seguranca.data_admissao|date:'Y-m-d' }}">

<select name="situacao">
<option value="Ativo" {% if seguranca.situacao == "Ativo" %}selected{% endif %}>Ativo</option>
<option value="Inativo" {% if seguranca.situacao == "Inativo" %}selected{% endif %}>Inativo</option>
</select>

<button type="submit">Salvar Alterações</button>
</form>

<a href="/pesquisar/">Voltar</a>

</div>
</div>

{% endblock %}