{% extends 'cadastro/base.html' %}
{% block content %}

<div class="box">

<h2>Meus dados</h2>

<form method="post">
{% csrf_token %}

<input type="text" name="graduacao" placeholder="Graduação/Função" value="{{ dados.graduacao }}">
<input type="text" name="nome_guerra" placeholder="Nome de guerra" value="{{ dados.nome_guerra }}">

<input type="text" name="nome_completo" placeholder="Nome completo" value="{{ dados.nome_completo }}">
<input type="text" name="cpf" placeholder="CPF" value="{{ dados.cpf }}">
<input type="date" name="data_nascimento" value="{{ dados.data_nascimento }}">

<input type="text" name="cidade_nascimento" placeholder="Cidade" value="{{ dados.cidade_nascimento }}">
<input type="text" name="uf_nascimento" placeholder="UF" value="{{ dados.uf_nascimento }}">

<input type="text" name="pai" placeholder="Nome do pai" value="{{ dados.pai }}">
<input type="text" name="mae" placeholder="Nome da mãe" value="{{ dados.mae }}">

<button type="submit">Salvar</button>

</form>

</div>

{% endblock %}